<h1 class="mt-3">Selectores Anidados</h1>
<hr>
<form [formGroup]="myForm">
  <!-- Regiones -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente: </label>
      <select formControlName="region" class="form-control">
        <option disabled selected>-- Seleccione Continente --</option>
        <option *ngFor="let region of regions" value="{{region}}">{{region}}</option>
      </select>
    </div>
    <div class="col">
      <label class="form-label">Pais: </label>
      <select formControlName="country" class="form-control">
        <option disabled selected>-- Seleccione pais --</option>
      </select>
    </div>
    <div class="col">
      <label class="form-label">Frontera: </label>
      <select formControlName="borders" class="form-control">
        <option disabled selected>-- Seleccione Frontera --</option>
      </select>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<code>
  {{ myForm.value | json }}
</code>
<p>
  is form valid: {{ myForm.valid }}
</p>
